.header-info{
    background-image: url(../images/bg.png);
    height: 20%;
    color: white;
}
h1{
    text-align: center;
}
body{
    font-family: fantasy;
}
.header-table{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    width:40%
}
.column-left{
    width:30%
}
.cloumn-right{
    width: 20%
}
.header-title{
    text-align: center;
    color: #007bff;
}
.table-collapse{
    border-collapse:separate;
    border-spacing:15px;
}
